@font-face {
    font-family:"HelveticaNeue-Bold-ttf";
    src:url("assets/fonts/HelveticaNeue-Bold.ttf");
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}


body {
    overflow: hidden;
}

.logo {
    filter: invert(100%);
}

header {
    background-color:#0A22F4;
    height: 240px;
}

.logo {
    margin: 10px -10px 10px 10px;
}

ul {
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 110px;
    margin-top: 40px;
}

nav a {
    display: inline-block;
    margin-left: 115px;
    transform: translateY(-110px);
    text-decoration: none;
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.building-img {
    width: 100%;
    max-width: 645px;
    height: 375px;
    object-fit: cover;
    display: block;
    margin: auto;
    margin-top: -110px;
    margin-left: 221px;
    border-radius: 2%;
}

.h3 {
    margin: 0px 221px;
    font-family: Arial, Helvetica, sans-serif;
}

nav li {
    display: inline-block;
    max-width: 130px;
}

.Rectangle-92 {
    width: 100%;
    max-width: 120px;
    height: 112px;
    margin: 0px 219px;
    border-radius: 2%;
}

.Rectangle-93 {
    width: 100%;
    max-width: 120px;
    height: 112px;
    margin: -116px 350px 100px;
    border-radius: 2%;
}

.Rectangle-94 {
    width: 100%;
    max-width: 120px;
    height: 112px;
    margin: -250px 481px 118px;
    border-radius: 2%;
}

.Rectangle-95 {
    width: 100%;
    max-width: 120px;
    height: 112px;
    margin: -250px 613px 136px;
    border-radius: 2%;
}

.Rectangle-96 {
    width: 100%;
    max-width: 120px;
    height: 112px;
    margin: -252px 745px 162px;
    border-radius: 2%
}

.ცნობილი-ფაქტი {
    margin: -135px 160px 50px 270px;
    font-size: 15px;
    width: 50%;
    max-width: 700px;
    color: #171717;
    letter-spacing: 0.5px;
    font-family: Arial, Helvetica, sans-serif;
}

.გავრცელებული-მოსაზრებით {
    margin: -35px 160px 50px 270px;
    font-size: 15px;
    width: 50%;
    max-width: 700px;
    color: #171717;
    letter-spacing: 0.5px;
    font-family: Arial, Helvetica, sans-serif;
}

.მათთვის {
    margin: -35px 160px 50px 270px;
    font-size: 15px;
    width: 50%;
    max-width: 700px;
    color: #171717;
    letter-spacing: 0.5px;
    font-family: Arial, Helvetica, sans-serif;
}

.დღეს-უკვე {
    margin: -35px 160px 50px 270px;
    font-size: 15px;
    width: 50%;
    max-width: 700px;
    color: #171717;
    letter-spacing: 0.5px;
    font-family: Arial, Helvetica, sans-serif;
}

.დამატებითი-ინფორმაცია {
    background-color: #0A22F4;
    margin: 150px 150px 150px 450px;
    font-size: 15px;
    color: #ffffff;
    letter-spacing: 0.5px;
    text-decoration: none;
    border-radius: 25px;
    text-align: center;
    padding: 15px 15px;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.contact {
    padding: 15px 25px;
    color: #171717;
    background-color: #ffffff;
    border-radius: 28px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.footer {
    background-color:#0A22F4;
    height: 700px;
}

.google-map {
    border-radius: 10px;
    margin: -10px 50px 50px 70px;
    max-width: 400;
    max-height: 250;
}

.contact-2 {
    color: #FFFFFF;
    margin: 180px 50px 50px 70px;
    transform: translateY(150px);
    font-family: Arial, Helvetica, sans-serif;
}

.Lorem-Ipsum {
    color: #FFFFFF;
    max-width: 400px;
    max-height: 100px;
    margin: 170px 50px 50px 70px;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    position: relative;
}

.phone {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.rec-59 {
    position: relative;
    z-index: 0;
}

.phone {
    margin: -30px 50px 50px 80px;
}

.rec-59 {
    margin: -37.5px 50px 50px 73.5px;
    max-width: 40px;
}

.number {
    color: #FFFFFF;
    transform: translateY(-82px);
    display: inline-block;
    margin-left: 115px;
    font-family: Arial, Helvetica, sans-serif;
}

.container-2 {
    position: relative;
}

.email {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.rec-64 {
    position: relative;
    z-index: 0;
}

.email {
    margin: -105px 50px 50px 265px;
}

.rec-64 {
    margin-left: 258px;
    transform: translateY(-112px);
    max-width: 40px;
}

.example-email {
    color: #FFFFFF;
    transform: translateY(-145px);
    display: inline-block;
    margin-left: 310px;
    font-family: Arial, Helvetica, sans-serif;
}

.all {
    color: #FFFFFF;
    display: inline-block;
    margin-left: 70px;
    transform: translateY(-50px);
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    margin-top: 20px;
    margin-left: -7px;
}
